name: message-queue-gateway-test
services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      MESSAGE_QUEUE_RABBITMQ_URL: ${MESSAGE_QUEUE_RABBITMQ_URL}
      MESSAGE_QUEUE_RABBITMQ_QUEUES: ${MESSAGE_QUEUE_RABBITMQ_QUEUES}
      MESSAGE_QUEUE_IS_DUMMY: ${MESSAGE_QUEUE_IS_DUMMY}
      HOST: ${HOST}
      HOST_PORT: ${HOST_PORT}
    depends_on:
        rabbitmq:
          condition: service_healthy

  rabbitmq:
    image: rabbitmq:4.2.2-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
