name: message-queue-gateway-test
services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      MESSAGE_QUEUE_SQS_ACTIVE: ${MESSAGE_QUEUE_SQS_ACTIVE}
      MESSAGE_QUEUE_SQS_ENDPOINT: ${MESSAGE_QUEUE_SQS_ENDPOINT}
      MESSAGE_QUEUE_SQS_REGION: ${MESSAGE_QUEUE_SQS_REGION}
      MESSAGE_QUEUE_SQS_QUEUES: ${MESSAGE_QUEUE_SQS_QUEUES}

      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}

      MESSAGE_QUEUE_RABBITMQ_URL: ${MESSAGE_QUEUE_RABBITMQ_URL}
      MESSAGE_QUEUE_RABBITMQ_QUEUES: ${MESSAGE_QUEUE_RABBITMQ_QUEUES}
      MESSAGE_QUEUE_RABBITMQ_ACTIVE: ${MESSAGE_QUEUE_RABBITMQ_ACTIVE}

      HOST: ${HOST}
      HOST_PORT: ${HOST_PORT}
    depends_on:
        localstack:
          condition: service_healthy
        rabbitmq:
          condition: service_healthy

  rabbitmq:
    image: rabbitmq:4.2.2-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 5s
      retries: 10
  localstack:
      image: localstack/localstack:4
      ports:
        - "4566:4566"
      environment:
        - SERVICES=sqs
        - DEBUG=1
        - AWS_DEFAULT_REGION=us-east-1
      healthcheck:
        test: ["CMD", "awslocal", "sqs", "list-queues"]
        interval: 5s
        timeout: 5s
        retries: 10
